<!-- <form action="/setupProfile/check" method="post" id="interests"> -->
	<!-- <label>Interested in: </label><br>
	<input type="radio" name="sexualPreference" id="female" value="Females"><label>Females</label><br>
	<input type="radio" name="sexualPreference" id="male" value="Males"><label>Males</label><br> -->
	<label><b>Biography</b></label><br>
	<textarea name="bio" id="bio" placeholder="Write something about your face..." cols="50" rows="10"></textarea><br>
	<hr>
	<label>I am: </label><br>
	<input type="radio" name="sexualOrientation" id="" value="straight"><label>Straight</label><br>
	<input type="radio" name="sexualOrientation" id="" value="lesbian"><label>Lesbian</label><br>
	<input type="radio" name="sexualOrientation" id="" value="gay"><label>Gay</label><br>
	<input type="radio" name="sexualOrientation" id="" value="bisexual"><label>Bisexual</label><br>
	<br>
	<hr>
	<label>Looking for persons from</label><br>
	<select name="agePreference" id="agePreference">
		<option value="18-25">18-25</option>
		<option value="25-30">25-30</option>
		<option value="30-35">30-35</option>
		<option value="35+">35+</option>
	</select>
	<br>
	<hr>
	<label>Pick up to 4 topics that you are interested in</label>
	<div>
		<div class="interest-box">
				<!-- <input type="checkbox" name="interests" id="dog" value="dogs" checked> Dogs -->
				<input type="checkbox" name="interests" id="dog" value="dogs"> Dogs
			<br>
			<input type="checkbox" name="interests" id="music" value="music"> Music
			<br>
			<input type="checkbox" name="interests" id="movies" value="movies"> Movies
			<br>
			<input type="checkbox" name="interests" id="food" value="food"> Food
		</div>
		<div class="interest-box">
			<input type="checkbox" name="interests" id="books" value="books"> Books
			<br>
			<input type="checkbox" name="interests" id="series" value="series"> Series
			<br>
			<input type="checkbox" name="interests" id="anime" value="anime"> Anime
			<br>
			<input type="checkbox" name="interests" id="games" value="games"> Games
		</div>
		<div class="interest-box">
			<input type="checkbox" name="interests" id="sport" value="sport"> Sport
			<br>
			<input type="checkbox" name="interests" id="gardening" value="gardening"> Gardening
			<br>
			<input type="checkbox" name="interests" id="hiking" value="hiking"> Hiking
			<br>
			<input type="checkbox" name="interests" id="camping" value="camping"> Camping
		</div>
		<div class="interest-box">
			<input type="checkbox" name="interests" id="cooking" value="cooking"> Cooking
			<br>
			<input type="checkbox" name="interests" id="baking" value="baking"> Baking
			<br>
			<input type="checkbox" name="interests" id="dancing" value="dancing"> Dancing
			<br>
			<input type="checkbox" name="interests" id="cats" value="cats"> Cats
		</div>
	</div>
	<!-- Store interests in an array -->
	<hr>
	<!-- <button type="submit" name="save_interests" id = "Save"> Save </button> -->
<!-- </form> -->
