<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
	<title>404</title>
=======
<<<<<<< HEAD:views/500.ejs
	<title>500</title>
=======
	<title>404</title>
>>>>>>> 597cac22e4db789f8135cc4f0c9042652266e58a:views/404.ejs
>>>>>>> 597cac22e4db789f8135cc4f0c9042652266e58a
</head>
<body>
	<%- include('partials/all_pages/navbar', {
		loginStatus : loginStatus
	}) -%>
<<<<<<< HEAD
	<h3>You done fucked up</h3>
=======
<<<<<<< HEAD:views/500.ejs
	<h3>We done fucked up</h3>
=======
	<h3>You done fucked up</h3>
>>>>>>> 597cac22e4db789f8135cc4f0c9042652266e58a:views/404.ejs
>>>>>>> 597cac22e4db789f8135cc4f0c9042652266e58a
</body>
</html>