<!DOCTYPE html>
<html>
	<head>
		<%- include('partials/all_pages/header') -%>
		<title><%= title %></title>
	</head>
	<%- include('partials/all_pages/navbar') -%>
	<body>
		<h1><%= title %></h1>
	</body>
</html>
