<!DOCTYPE html>
<html>
	<% include ./header %>
	<body>
		<button>Here</button>
		<h1>Welcome to <%= title %></h1>
		<h3><%= name %></h3>
		<a href="./login">Login</a>
		<a href="./register">Register</a>
	</body>
</html>
