<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('partials/all_pages/header') -%>
	<title><%= title %></title>
</head>
<body>
	<%- include('partials/all_pages/navbar', {
		loginStatus : loginStatus
	}) -%>
<<<<<<< HEAD
=======
	<div class="container, center">
>>>>>>> 597cac22e4db789f8135cc4f0c9042652266e58a
	<h3>Login to your face</h3>
	<%- include('partials/login/login_form', {
		title : title,
		loginStatus : loginStatus,
		errors : errors,
		verify : verify
	}) -%>
<<<<<<< HEAD
=======
</div>
>>>>>>> 597cac22e4db789f8135cc4f0c9042652266e58a
</body>
</html>