<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('partials/all_pages/header') -%>
	<title><%= title %></title>
</head>
<body>
	<%- include('partials/all_pages/navbar', {
		loginStatus : loginStatus
	}) -%>
	<%- include('partials/profile/profile_form', {
		title : title,
		loginStatus : loginStatus,
		firstTimeSetup : firstTimeSetup
	}) -%>
	<h3>Edit your face</h3>
</body>
</html>