<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('partials/all_pages/header') -%>
	<title><%= title %></title>
</head>
<body>
	<%- include('partials/all_pages/navbar', {
		loginStatus : loginStatus
	}) -%>
	<div class="container, center">
	<h3>Reset your face</h3>
	<h3>Please enter your email to reset your password</h3>
	<%- include('partials/reset_password/reset_password_form', {
		title : title,
		loginStatus : loginStatus,
		errors : errors,
		emailStatus : emailStatus,
		newPassword : newPassword
	}) -%>
	</div>
</body>
</html>