<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('partials/all_pages/header') -%>
	<title><%= title %></title>
</head>
<body>
	<h3>Setup your profile before continuing</h3>
	<%- include('partials/all_pages/navbar', {
		loginStatus : loginStatus
	}) -%>
	<%- include('partials/profile/profile_form', {
		title : title,
		loginStatus : loginStatus
	}) -%>
</body>
</html>
