<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('partials/all_pages/header') -%>
	<title>Document</title>
</head>
<body>
	<%- include('partials/all_pages/navbar') -%>
	<h3>Make your face</h3>
</body>
</html>