<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('partials/all_pages/header') -%>
	<title><%= title %></title>
</head>
<body>
	<%- include('partials/all_pages/navbar', {
		loginStatus : loginStatus
	}) -%>
<<<<<<< HEAD
	<h3>Make your face</h3>
=======
	<h1>Sign Up...or Make your face</h1>
	<p>Please fill in this form to create an account.</p>
	<hr>
	<div class="container, center">
>>>>>>> 597cac22e4db789f8135cc4f0c9042652266e58a
	<%- include('partials/signup/signup_form', {
		title : title,
		loginStatus : loginStatus,
		errorMessages : errorMessages,
		emailStatus : emailStatus
	}) -%>
<<<<<<< HEAD
=======
</div>
>>>>>>> 597cac22e4db789f8135cc4f0c9042652266e58a
</body>
</html>