<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('partials/all_pages/header') -%>
	<title><%= title %></title>
</head>
<%- include('partials/all_pages/navbar', {
	loginStatus : loginStatus
}) -%>
<body>
	<h3>Find your face</h3>

	<div class="row">

		<div class="column">
		  <div class="card">
			<img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
			<div class="container">
			  <h2>(Name + Surname + Age + Gender)Jane Doe, Age , Gender</h2>
			  <p>Lives in (Country)</p>
			  <p>Interested in (SexualOrientation)</p>
			  <p>Some text that describes me lorem ipsum ipsum lorem.</p>
			  <p>example@example.com</p>
			  <p><button class="button" style="background-color:green;">Like?</button><button class="button">Dislike?</button></p>
			</div>
		  </div>
		</div>

		<div class="column">
			<div class="card">
			  <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
			  <div class="container">
				<h2>Mike Ross</h2>
				<p class="title">Art Director</p>
				<p>Some text that describes me lorem ipsum ipsum lorem.</p>
				<p>example@example.com</p>
				<p><button class="button">Like?</button><button class="button">Dislike?</button></p>
			  </div>
			</div>
		</div>

	</div>
</body>
<script src="/scripts/menu.js"></script>
</html>