<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('partials/all_pages/header') -%>
	<title><%= title %></title>
</head>
<%- include('partials/all_pages/navbar', {
	loginStatus : loginStatus
}) -%>
<body>
	<h3>Discover more users near you</h3>
	<div class="row" style="width: 30%; margin: auto;">
		<%- include('partials/users/users_card') -%>
	</div>
	<script src="/scripts/display_user.js"></script>
</body>
<script src="/scripts/menu.js"></script>
</html>