<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('partials/all_pages/header') -%>
	<title><%= title %></title>
</head>
<body>
	<%- include('partials/all_pages/navbar', {
		loginStatus : loginStatus
	}) -%>
	<h3>Make your face</h3>
	<%- include('partials/verify/verify_data', {
		title : title,
		loginStatus : loginStatus,
		verifiedStatus : verifiedStatus
	}) -%>
</body>
</html>