<div class="topnav" id="myTopnav">
	<a class="active" href="/">Home</a>
<% if (loginStatus === 'logged_in') { %>
	<a class="" href="/profile">Profile</a>
	<a class="" href="/users">Users</a>
	<a class="" href="/chat">Chat</a>
	<a class="" href="/logout">Logout</a>
<% } else if (loginStatus === 'logged_out') { %>
	<a class="" href="/login">Login</a>
	<a class="" href="/signup">Signup</a>
<% } %>
</div>