{% extends 'navbar.html' %}
{% block html_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}
{% block body %}
<div class="right">
	<div style="background-color:aliceblue;padding:20px;">
		<h1>Edit Profile</h1>
		<div class="tab">
			<button class="tablinks active" onclick="openSetting(event, 'About_me')">About Me</button>
			<button class="tablinks" onclick="openSetting(event, 'Contact')">Contact Details</button>
			<button class="tablinks" onclick="openSetting(event, 'Preference')">Preferences</button>
		</div>
		<div id="About_me" class="tabcontent" style="display: block;">
			<form>
				<lable>First name</lable><br/>
				<input type="text" name="firstname"/><br/>
				<lable>Last name</lable><br/>
				<input type="text" name="lastname"/><br/>
				<label>Description</label><br/>
				<input type="text" name="description"/><br/>
				<label>Age</label><br/>
				<input type="text" name="age"/><br/>
				<input type="submit" name="update" value="Update"/>
			</form>
		</div>
		<div id="Contact" class="tabcontent" style="display: none;">
			<label>Email Address</label>
			<input type="email" name="email"/><br/>
			<label>Phone Number</label>
			<input type="text" name="phone"/><br/>
			<input type="submit" name="submit"/>
		</div>
		<div id="Preference" class="tabcontent" style="display: none;">
			<h3>Interested in</h3>
			<form>
				<input type="radio" id="male" name="gender" value="male">
				<label for="male">Male</label><br>
				<input type="radio" id="female" name="gender" value="female">
				<label for="female">Female</label><br>
				<input type="radio" id="other" name="gender" value="other">
				<label for="other">Other</label>
			</form>
			<h3>A list of tags and preferences</h3>
			<ul>
				<li>Kindness<input type="checkbox"/></li>
				<li>Smart<input type="checkbox"/></li>
				<li>Sense of Humour</li>
				<li>Empathetic</li>
				<li>Beautiful</li>
				<li>Handsome</li>
				<li>Rich</li>
				<li>Art</li>
				<li>Organised</li>
			</ul>
		</div>
	</div>
</div>
        <script>
            function openSetting(evnt, setting) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(setting).style.display = "block";
                evnt.currentTarget.className += " active";
            }
        </script>
{% endblock %}