<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Login</title>
	<link rel = "stylesheet" href = "{{url_for('static', filename='css/css.css')}}">
</head>
<body>
	<div>
		<a href = "{{ url_for('index') }}">Index</a>
		<a href = "{{ url_for('register') }}">Register</a>
	</div>
	<form action = "login" method = "post">
		<input name = "usernameEmail" type = "text" placeholder = "Username/Email">

		<br>

		<input name = "password" type = "password" placeholder = "Password">

		<br>

		<input name = "login" type = "submit" value = "Login">
	</form>
</body>
</html>