<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Login</title>
</head>
<body>
	<div>
		<a href = "/">Index</a>
		<a href = "register">Register</a>
	</div>
	<form>
		<input id = "usernameEmail" type = "text" placeholder = "Username/Email">

		<br>

		<input id = "password" type = "password" placeholder = "Password">

		<br>

		<input id = "submit" type = "submit" value = "Login">
	</form>
</body>
</html>