<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/navBarStyle.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        {% block html_head %}{% endblock %}
        <title>Matcha</title>
	</head>
	<body>
		<!-- Sidebar -->
		<div class="sidebar bar-block animate-right" style="display:none;z-index:5; right:0;" id="mySidebar">
			<button class="bar-item logo-button" onclick="w3_close()">
				<img src="{{ url_for('static', filename='logo_menu-transparent.png') }}" style="width: inherit;"/>
			</button>
			<div id="myMenu">
				<a href="{{ url_for('profile') }}">My Profile</a>
				<a href="">Messages</a>
				<button class="accordion">
					<a href="#">Settings</a>
				</button>
				<div class="panel">
					<a href="{{ url_for('edit_profile') }}">Edit Profile</a>
					<a href="{{ url_for('settings') }}">Account Settings</a>
				</div>
				<a href="">Log out</a>
			</div>
		</div>

		<div class="overlay animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>
			<div class="navLogo">
				<img src="{{ url_for('static', filename='logo_menu-transparent.png') }}" style="height: 80px;"/>
				<button class="logo-button" style="margin:10px; float:right; color:white; font-size: 30px;" onclick="w3_open()">&#9776;</button>
			</div>
			<div style="background-color: palevioletred; margin: 0px 10px; display:flex;">
			</div>
			<div class="container">
				<div class="row">
					<div class="left">
						<div id=myMenu>
							<a href="{{ url_for('discover') }}">Discover New Matches</a>
							<h4>Messages</h4>
							<div class="panel" style="display: block;">
								<a href="#">Contact1</a>
								<a href="#">Contact2</a>
								<a href="#">Contact3</a>
							</div>
						</div>	
					</div>
					{% block body %}{% endblock %}
				</div>
			</div>
		</div>
        <script>
            function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
            }

            function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
}

            var acc = document.getElementsByClassName("accordion");
            var i;
        
            for (i = 0; i < acc.length; i++) {
                 acc[i].addEventListener("click", function() {
                        this.classList.toggle("active");
                        var panel = this.nextElementSibling;
                        if (panel.style.display === "block") {
                              panel.style.display = "none";
                        } else {
                              panel.style.display = "block";
                        }
                  });
            }
        </script>
	</body>
</html>