{% extends 'navbar.html' %}
{% block html_head %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}
{% block body %}
<div class="right">
    <div style="display: flex;">
        <div>
            <img src="{{ url_for('static', filename= 'test_profile/wtf.png') }}" style="height:250px;border-radius:50%;" alt="Your face">
            <div class="gallery">
                <div class="col">
                    <img src="{{ url_for('static', filename = 'test_profile/spiky_hair.jpg') }}" style="height: 50px;cursor:pointer;"
                    onclick="openModal();currentDiv(1)" class="w3-hover-shadow" alt="Image1">
                </div>
                <div class="col">
                    <img src="{{ url_for('static', filename = 'test_profile/cute.jpg') }}" style="height: 50px;cursor:pointer;"
                    onclick="openModal();currentDiv(2)" class="w3-hover-shadow">
                </div>
                <div class="col">
                    <img src="{{ url_for('static', filename = 'test_profile/shiba_tongue.jpg') }}" style="height: 50px;cursor:pointer;"
                    onclick="openModal();currentDiv(3)" class="w3-hover-shadow">
                </div>
                <div class="col">
                    <img src="{{ url_for('static', filename = 'test_profile/lilbub.jpg') }}" style="height: 50px;cursor:pointer;"
                    onclick="openModal();currentDiv(4)" class="w3-hover-shadow">
                </div>
            </div>
        </div>
        <div class="container">
            <div style="float:right;padding:20px;">
                <h3>Name: {{ pf.Name }}</h3>
                <h3>Age: {{ pf.Age }}</h3>
                <h4>Email: </h4>
                <h4>Contact no: </h4>
                <h4>Occupation: {{ pf.Occupation }}</h4>
                <h4>Location: {{ pf.Location }}</h4>
            </div>
        </div>
    </div>
            
    <div id="myModal" class="gallery-modal w3-black">
    <span class="w3-text-white w3-xxlarge w3-hover-text-grey w3-container w3-display-topright" onclick="closeModal()" style="cursor:pointer">×</span>
        <div class="modal-content">
            <div class="w3-content">
                <img class="mySlides" src="{{ url_for('static', filename = 'test_profile/wtf.png') }}" style="height:250px;">
                <img class="mySlides" src="{{ url_for('static', filename = 'test_profile/spiky_hair.jpg') }}" style="height:250px;">
                <img class="mySlides" src="{{ url_for('static', filename = 'test_profile/cute.jpg') }}" style="height:250px;">
                <img class="mySlides" src="{{ url_for('static', filename = 'test_profile/shiba_tongue.jpg') }}" style="height:250px;">
                <img class="mySlides" src="{{ url_for('static', filename = 'test_profile/lilbub.jpg') }}" style="height:250px;">
                <div class="w3-row w3-black w3-center">
                    <div class="w3-display-container">
                        <p id="caption"></p>
                        <span class="w3-display-left w3-btn" onclick="plusDivs(-1)">❮</span>
                        <span class="w3-display-right w3-btn" onclick="plusDivs(1)">❯</span>
                    </div>
                    <div class="gallery-col">
                        <img class="demo w3-opacity w3-hover-opacity-off" src="{{ url_for('static', filename = 'test_profile/wtf.png') }}" style="height:100px" onclick="currentDiv(1)">
                    </div>
                    <div class="gallery-col">
                        <img class="demo w3-opacity w3-hover-opacity-off" src="{{ url_for('static', filename = 'test_profile/spiky_hair.jpg') }}" style="height:100px" onclick="currentDiv(2)">
                    </div>
                    <div class="gallery-col">
                        <img class="demo w3-opacity w3-hover-opacity-off" src="{{ url_for('static', filename = 'test_profile/cute.jpg') }}" style="height:100px" onclick="currentDiv(3)">
                    </div>
                    <div class="gallery-col">
                        <img class="demo w3-opacity w3-hover-opacity-off" src="{{ url_for('static', filename = 'test_profile/shiba_tongue.jpg') }}" style="height:100px" onclick="currentDiv(4)">
                    </div>
                    <div class="gallery-col">
                    <img class="demo w3-opacity w3-hover-opacity-off" src="{{ url_for('static', filename = 'test_profile/lilbub.jpg') }}" style="height:100px" onclick="currentDiv(5)">
                    </div>
                </div> <!-- End row -->
            </div> <!-- End w3-content -->
        </div> <!-- End modal content -->
    </div> <!-- End modal -->    
    <h4>About</h4>
      {{ pf.About }}
</div><!-- End container -->

<script>
  function openModal() {
    document.getElementById('myModal').style.display = "block";
  }  
  function closeModal() {
    document.getElementById('myModal').style.display = "none";
  }
    
  var slideIndex = 1;
  showDivs(slideIndex);
  
  function plusDivs(n) {
    showDivs(slideIndex += n);
  }
    
  function currentDiv(n) {
    showDivs(slideIndex = n);
  }
    
  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    var captionText = document.getElementById("caption");
    if (n > x.length) {slideIndex = 1}
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
    }
    x[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " w3-opacity-off";
    captionText.innerHTML = dots[slideIndex-1].alt;
  }
</script>
{% endblock %}