<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Register</title>
</head>
<body>
	<div>
		<a href = "{{ url_for('index') }}">Index</a>
		<a href = "{{ url_for('login') }}">Login</a>
	</div>
	<form>
		<input id = "name" type = "text" placeholder = "Name" required>

		<br>

		<input id = "surname" type = "text" placeholder = "Surname" required>

		<br>

		<input id = "username" type = "text" placeholder = "Username" required>

		<br>

		<input id = "email" type = "email" placeholder = "Email" required>

		<br>

		<input id = "password" type = "password" placeholder = "Password" required>

		<br>

		<input id = "confirmPassword" type = "password" placeholder = "Confirm Password" required>

		<br>

		<input id = "register" type = "submit" value = "Register">
	</form>
</body>
</html>