{% extends 'template.html' %}

{% block title %} Register {% endblock %}

{% block content %}

	<form action = "register" method = "post">
		<input name = "name" type = "text" placeholder = "Name" >

		<br>

		<input name = "surname" type = "text" placeholder = "Surname" >

		<br>

		<input name = "username" type = "text" placeholder = "Username" >

		<br>

		<input name = "email" type = "email" placeholder = "Email" >

		<br>

		<input name = "password" type = "password" placeholder = "Password" >

		<br>

		<input name = "confirmPassword" type = "password" placeholder = "Confirm Password" >

		<br>

		<input name = "register" type = "submit" value = "Register">
	</form>

{% endblock %}