{% extends 'template.html' %}

{% block title %} Register {% endblock %}

{% block content %}

	<form action = "register" method = "post">
		{% if error1 %}
		<input name = "name" type = "text" placeholder = "{{ error1 }}" >
		<br>
		{% else %}
		<input name = "name" type = "text" placeholder = "Name" >
		<br>
		{% endif %}

		{% if error2 %}
		<input name = "surname" type = "text" placeholder = "{{ error2 }}" >
		<br>
		{% else %}
		<input name = "surname" type = "text" placeholder = "Surname" >
		<br>
		{% endif %}

		{% if error3 %}
		<input name = "username" type = "text" placeholder = "{{ error3 }}" >
		<br>
		{% else %}
		<input name = "username" type = "text" placeholder = "Username" >
		<br>
		{% endif %}

		{% if error4 %}
		<input name = "email" type = "email" placeholder = "{{ error4 }}" >
		<br>
		{% else %}
		<input name = "email" type = "email" placeholder = "Email" >
		<br>
		{% endif %}

		{% if error5 %}
		<input name = "password" type = "password" placeholder = "{{ error5 }}" >
		<br>
		{% else %}
		<input name = "password" type = "password" placeholder = "Password" >
		<br>
		{% endif %}

		{% if error6 %}
		<input name = "confirmPassword" type = "password" placeholder = "{{ error6 }}" >
		<br>
		{% else %}
		<input name = "confirmPassword" type = "password" placeholder = "Confirm Password" >
		<br>
		{% endif %}

		<input name = "register" type = "submit" value = "Register">
	</form>

{% endblock %}