<form action="/signup/create" method="post">
	<input type="text" name="name" id="name" placeholder="Name">
	<input type="text" name="surname" id="surname" placeholder="Surname">
	<input type="text" name="username" id="username" placeholder="Username">
	<input type="email" name="email" id="email" placeholder="Email">
	<input type="password" name="password" id="password" placeholder="Password">
	<input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
	<input type="submit" name="signup" id="signup" value="Signup">
</form>