<form action="/login/attempt" method="post">
	<input type="text" name="username" id="username" placeholder="Username">
	<input type="email" name="email" id="email" placeholder="Email">
	<input type="password" name="password" id="password" placeholder="Password">
	<input type="submit" name="login" id="login" value="Login">
</form>