<form action="/login/attempt" method="post">
	<input type="text" name="usernameEmail" id="usernameEmail" placeholder="Username/Email">
	<input type="password" name="password" id="password" placeholder="Password">
	<input type="submit" name="login" id="login" value="Login">
</form>