<form action="/reset_pass/attempt" method="post">
	<!-- <br>
		<input type="text" name="usernameEmail" id="usernameEmail" placeholder="Username/Email">
	<br>
	<br>
		<input type="password" name="password" id="password" placeholder="Password"> -->
	<br>
	<input type="text" name="usernameEmail" id="usernameEmail" placeholder="Username/Email">
	<br>
	<br>
	<input type="password" name="password" id="password" placeholder="Password">
	<br>
	<input type="submit" name="login" id="login" value="Login">
</form>