<label><b>New Password</b></label><br>
<input type="password" name="newPassword" id="newPassword" placeholder="New Password">
<br>

<br>
<label><b>Confirm New Password</b></label><br>
<input type="password" name="confirmNewPassword" id="confirmNewPassword" placeholder="Confirm New Password">
<br>